* {
  box-sizing:border-box;
}

html {
  height:100vh;
}

body {
  height:100vh;
  font-family: open sans;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#10214e;
}

.business-card {
  width:50vw;
  max-width: 25em;
  min-width:20em;
  display:flex;
  flex-direction:column;
  align-items:left;
  justify-content:flex-end;
  background: rgb(140, 191, 253);
  background: linear-gradient(0deg, #4e54c8 100%, #4e54c8 100%);
  box-shadow:0 0 20px 20px rgba(0,0,0,.1);
  border-radius:1rem;
  position: relative;
  height: 290px;
  overflow: hidden;
  transition:.25s;
  padding-bottom: 1em;

}

article main {
  background: rgb(255, 255, 255);
  transition:.25s;
  height: 260px;
}

header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  justify-content:flex-end;
}

h1 {
  margin:2rem 0 1rem;
  color: rgba(0,239,255,1);
  padding-left: 180px;
}

button {
  border:none;
  position: absolute;
  right:1rem;
  top:1rem;
  width:2.5rem;
  height:2.5rem;
  transform: scale(.8);
  background: rgba(0,239,255,1);
  border-radius:50%;
  padding:.25rem;
  transition:.25s;
}
button:focus {
  outline:none;
  background:#202592;
}
button:focus svg {
  stroke: rgba(0,239,255,1);
}

svg {
  stroke: #4e54c8;
  position: absolute;
  top:calc(1.25rem - 12px);
  left:calc(1.25rem - 12px);
  transition-delay: .25s;
}
button svg:nth-of-type(2) {
  opacity:0;
  transition-delay: 0ms;
}

img {
  width:8em;
  border-radius:10em;
  border:5px transparent;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
  left: 10px;
  transition:.25s .15s;
}
img:hover {
  border:5px solid;
}

dl {
  width:100%;
  
  /* display:grid; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "html-dd css-dd js-dd"
    "html-dt css-dt js-dt"
    ;
  /* justify-items:center; */
  align-items:start;
  padding:5rem 0 3rem;
  margin-top: -11rem;
  padding-left: 9em;
  padding-bottom: 9em;
  text-align: center;
}

dt{
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.3);
  padding-top: .25rem;
  margin-top: .25rem;
}
/* dt:nth-of-type(1){ grid-area: html-dt; transform: translateY(1rem);}
dt:nth-of-type(2){ grid-area: css-dt; transform: translateY(1rem);}
dt:nth-of-type(3){ grid-area: js-dt; transform: translateY(1rem); } */

dd {
  margin:0;
  padding-left:.3rem;
  transition:.25s .3s;
}
dd:nth-of-type(1){  
  transform: translateY(1rem);
}

dd:nth-of-type(2){  
  transform: translateY(1rem);
}

dd:nth-of-type(3){  
  transform: translateY(1rem);
}

p { 
  top: 80px;
  margin:0;
}

em{
  padding-left: 150px;
}

/* article > p {
  padding:3rem 2rem;
  margin-top: 0;
  background:rgba(255,255,255, 0.5);
  text-align:center;
  border-radius: 0 0 1rem 1rem;
  width:100%;
} */

/* expand content */
body.expand {
  /* font-size:1.15em; */
}

body.expand article, body.expand article main {
  height: 400px;
}

body.expand button svg:first-of-type {
  opacity:0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity:1;
  transition-delay:.25s;
}

body.expand section {
  /* font-size: 1.75em; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

body.expand img {
  /* height:15em; */
}

body.expand img {
  width:8em;
  border-radius:10em;
  border:5px transparent;
  box-shadow:0 0 2px 2px rgba(0,0,0,.2);
  position:relative;
  top:2rem;
  left: 130px;
  transition:.25s .15s;
}

body.expand h1 {
    margin:2rem 0 1rem;
    color: rgba(0,239,255,1);
    padding-left: 115px;
    transition:.25s .15s;
}

body.expand em {
  padding-left: 100px;
  transition:.25s .15s;
}

body.expand section {
  display:grid;
}

body.expand dd {
  padding-right: 30px;
}

/* body.expand dd:nth-of-type(1){  
  transform: translateY(8rem);
}

body.expand dd:nth-of-type(2){  
  transform: translateY(9rem);
}

body.expand dd:nth-of-type(3){  
  transform: translateY(8rem);
} */